

@media screen and (min-height: 600px) {
    .margen{
        padding-top:500px;
    }
}
@media screen and (min-height: 600px) and (min-height: 400px) {
    .margen{
        padding-top:140px;
    }
}
@media screen and (min-height: 400px) and (min-height: 200px) {
    .margen{
        padding-top:80px;
    }
}
@media screen and (min-height: 200px){
    .margen{
        padding-top:50px;
        padding-left: 12px;
        padding-right: 12px;
    }
}
.form-signin
{
    padding: 15px;
    margin: 0 auto;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}