<link rel="stylesheet" href="../modular/estilos/home.css">
<link rel="stylesheet" href="../modular/estilos/login.css">
<link rel="stylesheet" href="../modular/estilos/errores.css">
<video id="video" autobuffer loop autoplay preload muted>
    <source src="../general/fondo.mp4" type='video/mp4; codecs="avc1,mp4a"' />
    <source src="../general/fondo.mp4" type='video/ogg; codecs="theora,vorbis"' />
    <source src="../general/fondo.mp4" type='video/webm; codecs="vp8,vorbis"' />
</video>

<div class="row">
    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10 margen">
        <div class="fondo-blanco borde-redondo centrado">
            <h1>Oops!</h1>
            <h2>404<br>No encontrado</h2>
            <div class="error-details">
                Lo sentimos, esta página no existe
            </div>
            <div class="error-actions">
                <a href="/" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-home"></span>
                    Inicio </a>
            </div>
        </div>
    </div>
</div>