<link rel="stylesheet" href="../modular/estilos/errores.css">
<div class="row">
    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10 margen">
        <div class="centrado contenedor-bordes blanco">
            <h1>Oops!</h1>
            <h2>404<br>No encontrado</h2>
            <div class="error-details">Lo sentimos, esta página no existe</div>
            <div class="error-actions">
                <a href="/" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-home"></span>
                    Inicio </a>
            </div>
        </div>
    </div>
</div>