<link rel="stylesheet" href="../modular/estilos/errores.css">
<div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 ">
        <div class="centrado contenedor-bordes blanco">
            <div class="error-template">
                <h1> Oops!</h1>
                <h2>500 <br>Error en el servidor</h2>
                <div class="error-details">
                    Lo sentimos, El servidor ha presentado el siguiente error
                </div>
                <p>Este error puede ser provocado por algún error interno en el hosting o un mal uso del sistema</p>
                <div id="central-mensajes">
                {{#if success_msg}}
                <div class="centrado blanco mensaje-bien-sistema animated flash">
                    <h3>{{success_msg}}</h3>
                </div>
                {{/if}} {{#if error}}
                <div class="centrado blanco mensaje-error-sistema animated flash">
                    <h3>{{error}}</h3>
                </div>
                {{/if}}
                <div class="centrado blanco mensaje-bien-sistema" id="div-correcto" style="display:none; font-size:140%">

                </div>
                <div class="centrado blanco mensaje-error-sistema" id="div-error" style="display:none;font-size:140%"></div>
            </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                    Inicio </a>
                    <a href="mailto:ecuadoractiva@gmail.com" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-envelope"></span> 
                    Reportar </a>
                </div>
            </div>
        </div>
    </div>
</div>