<!DOCTYPE html>
<html lang="es">

<head>
    <!--Propiedades-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ecuador Actíva</title>
    <base href="/" target="_self">
    <link rel="icon" type="image/jpeg" href="../general/imagenes/icono.ico" />
    <!--Metadatos-->
    <meta itemprop="name" content="República del Salvador Activa">
    <meta itemprop="description" content="Descuentos para toda clase de cosas">
    <meta itemprop="image" content="../general/imagenes/logotipo.jpeg" />
    <meta property="og:title" content="República del Salvador actíva" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="../general/imagenes/logotipo.jpeg" />
    <meta property="og:image:width" content="2128" />
    <meta property="og:image:height" content="1743" />
    <meta property="og:site_name" content="Republica del Salvador Activa, i.e. Moz" />
    <meta property="article:published_time" content="2017-06-26T05:59:00+01:00" />
    <meta property="article:modified_time" content="2017-06-26T05:59:00+01:00" />
    <meta property="article:tag" content="descuentos" />
    <!--Bootstraps-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <!--Scripts propios-->
        <script src="../general/codigo.js"></script>
    <!--SweetAlert-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.2/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.2/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.10.2/sweetalert2.min.css">
    <!--EmailJS-->
    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script type="text/javascript">(function () { emailjs.init("user_cAAuKh7iKAYJ9IN6c9hs6"); })();</script>
    <!--Custom imput-->
        <!--<script src="../general/custominputfile.min-es.js"></script> 
        <link rel="stylesheet" href="../general/estilos/custominputfile.min.css"  type="text/css" />-->
    <!--Estilos propios-->
    <link rel="stylesheet" href="../general/estilos/iconos.css">
    <style>
        @font-face {
            font-family: 'Bebas Neue';
            font-style: normal;
            font-weight: normal;
            src: local('Bebas Neue'), url('../general/fuentes/bebas.woff') format('woff');
        }
    </style>
    <link rel="stylesheet" href="../general/estilos/bootstrap.css">
    <link rel="stylesheet" href="../general/estilos/estilos.css">
    <link rel="stylesheet" href="../general/estilos/responsivo.css">
</head>

<body>
    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <div class="my-2 my-lg-0">
                <ul class="nav navbar-nav navbar-right" >
                    {{#if user}}
                        <li><a class="nav-link" href="/users/logout">Cerrar sesión</a></li>
                        {{else}}
                            <li > <a class="nav-link" href="/users/login">Login</a></li>
                            <li><a class="nav-link" href="/users/registro">Registrar</a></li>
                    {{/if}} 

                    {{#if user.esadministrador}}
                        <li><a class="nav-link" href="/admin/">Administrar</a></li>
                    {{/if}}

                    {{#if user.eslocal}}
                    <li><a class="nav-link" href="/local/">Vender</a></li>
                    {{/if}} 

                    {{#if user.esvendedor}}
                    <li><a class="nav-link" href="/vendedor/">Vender</a></li>
                    {{/if}}
                    {{#if user.escliente}}
                        <li><a class="nav-link" href="/cliente/perfil">{{user.nombre}}</a></li>
                    {{/if}}                   
                    <li><a class="nav-link" href="/index/acerca">¿Quienes somos?</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="margin-bottom: -1px; min-height:100%; min-width:100%">
        <div style="min-height:100%;">
            <div class="fullscreen-bg">
                <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
                    <source src="../general/fondo.mp4" type='video/ogg; codecs="theora,vorbis"' />
                    <source src="../general/fondo.mp4" type='video/webm; codecs="vp8,vorbis"' />
                </video>
            </div>
            <div class="content" style="margin-bottom:12px" >
                {{{body}}}
            </div>
        </div>
    </div>
    
    <footer class="footer-bs">
        <div class="row">
            <div class="col-md-3 footer-brand animated fadeInLeft" style="margin-bottom:12px">
                
                <img width="100%" src="../general/imagenes/logotipo.png" alt="">
                <h4 class="centrado">2017</h4>
            </div>
            <div class="col-md-4 footer-nav animated fadeInUp">
                <h4>Información —</h4>
                <ul class="pages">
                    <li><a href="tel://0998546758">Teléfono:   0998546758</a></li>
                    <li><a href="mailto:ecuadoractiva@gmail.com">Email:   ecuadoractiva@gmail.com</a></li>
                    <li><a href="" target="_blank">Acerca de</a></li>
                </ul>
            </div>
            <div class="col-md-2 footer-social animated fadeInDown">
                <h4>Síguenos</h4>
                <ul>
                    <li>
                        <a target="_blank" href="http://www.fb.com/RepublicaDeElSalvadorActiva">Facebook</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/republicadelsalvadoractiva/">Instagram</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 footer-ns animated fadeInRight">
                <form action="">
                    <h4>Contactos</h4>
                    <p>Escribe tu mensaje</p>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <textarea name="mensaje" class="form-control" id="" required cols="30" placeholder="Tu mensaje aquí" rows="4"></textarea>
                    </div>
                    <button type="submit" title="Enviar" class="btn btn-primary ">
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span> 
                    </button>
                </form>               
            </div>
        </div>
    </footer>
</body>

</html>