<ul class="nav nav-tabs hidden-sm hidden-xs">
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vendedor</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/ingresar-vendedor">A単adir</a>
            <a class="dropdown-item" href="/admin/modificar-vendedor">Modificar o eliminar</a>
            <a class="dropdown-item" href="/admin/asignar-vendedor">Asignar tarjetas</a>
        </div>
    </li>
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Local</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/ingresar-local">A単adir</a>
            <a class="dropdown-item" href="/admin/modificar-local">Modificar o eliminar</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tarjeta</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/reg-tarj">A単adir</a>
            <a class="dropdown-item" href="/admin/mod-tarj">Modificar o eliminar</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/eliminar-usuario">Eliminar usuario</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/reporte-vendedor">Por vendedor</a>
            <a class="dropdown-item" href="/admin/reporte-usuario">Por usuario</a>
            <a class="dropdown-item" href="/admin/reporte-local">Por local</a>
            <a class="dropdown-item" href="/admin/reporte-tarjeta">Por tarjeta</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/slider">Slider</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users/password">Cambiar contrase単a</a>
    </li>
</ul>
<div id="opciones"></div>
<br>

<script src="../especifico/scripts/opciones.js"></script>
<script src="../especifico/scripts/admin.js"></script>
<div class="alert alert-primary margen-row" role="alert">
    <h3 class="centrado ">Reporte por local</h3>
</div>
<div class="alert margen-row">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="form-group">
                <label for="">Local</label>
                <select name="local" id="" class="form-control">

                </select>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="form-group">
                <label for="">Fecha inicial</label>
                <input type="date" name="fechaIni" class="form-control" id="">
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="form-group">
                <label for="">Fecha final</label>
                <input type="date" name="fechaFin" class="form-control" id="">
            </div>
        </div>
        <div class="col-lg-3 col-md-3" style="text-align:right"><br>
            <button type="button" class="btn btn-outline-primary" aria-label="Left Align">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-outline-info" aria-label="Left Align">
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-outline-success" aria-label="Left Align">
                <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Usuario</th>
                <th>Tarjeta</th>
                <th>Renovaciones</th>
                <th>Fecha de uso</th>
                <th>Hora de uso</th>
            </tr>
        </table>
    </div>
</div>

<link rel="stylesheet" href="../especifico/estilos/admin.css">