<ul class="nav nav-tabs hidden-sm hidden-xs">
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vendedor</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/ingresar-vendedor">Añadir</a>
            <a class="dropdown-item" href="/admin/modificar-vendedor">Modificar o eliminar</a>
            <a class="dropdown-item" href="/admin/asignar-vendedor">Asignar tarjetas</a>
        </div>
    </li>
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Local</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/ingresar-local">Añadir</a>
            <a class="dropdown-item" href="/admin/modificar-local">Modificar o eliminar</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tarjeta</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/reg-tarj">Añadir</a>
            <a class="dropdown-item" href="/admin/mod-tarj">Modificar o eliminar</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/eliminar-usuario">Eliminar usuario</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/reporte-vendedor">Por vendedor</a>
            <a class="dropdown-item" href="/admin/reporte-usuario">Por usuario</a>
            <a class="dropdown-item" href="/admin/reporte-local">Por local</a>
            <a class="dropdown-item" href="/admin/reporte-tarjeta">Por tarjeta</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/slider">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users/password">Cambiar contraseña</a>
    </li>
</ul>
<div id="opciones"></div>
<br>
<div class="centrado" style="margin:0 auto">
    <p>Bienvenido</p>
    <h1>Administrador</h1>
    <br>
    <p>En este panel encontrará todas las herramientas necesarias para sus actividades comerciales</p>
</div>

<script src="../especifico/scripts/opciones.js"></script>