<link rel="stylesheet" href="../especifico/estilos/comprado.css">
<div class="comprado">
    <ul class="nav nav-tabs ">
        <li class="nav-item">
            <a class="nav-link active" href="/cliente/comprado">He comprado</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cliente/perfil">Perfil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/password">Cambiar contraseña</a>
        </li>
    </ul>
    <div class="row comprado">
        <div class="col-lg-3 col-md-2 "></div>
        <div class="col-lg-6 col-md-8 ">
             {{#if success_msg}}<div class="alert alert-success">{{success_msg}}</div>{{/if}} 
            <div id="centralMensajes">
                <div class="alert alert-success" id="div-correcto" style="display:none"></div>
                <div class="alert alert-danger" id="div-error" style="display:none"></div>
            </div>
            <h2 class="centrado">Activación de tarjeta</h2><br>
            <form class="form-signin" action="/cliente/tarjeta" method="post" onsubmit="activar_tarjeta(event)">
                <div class="form-group">
                    <label for="">Número</label>
                    <input step="1" id="txt_numero" type="number" class="form-control" min="0" required value="1">
                </div>
                <div class="form-group">
                    <label for="">Código de activación <span>(Código enviado a su email al realizar la compra)</span></label>
                    <input minlength="16" id="txt_codigo"  class="form-control" required >
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Activar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="../especifico/scripts/index.js"></script>



<div class="modal" id="modal_tarjeta" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Activar la tarjeta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-5" style="margin-bottom:12px;">
                        <form action="/cliente/activacion" method="post">
                            <div class="form-group">
                                <label for="">Número</label>
                                <input type="text" readonly name="numero" id="txtnumero" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Cód. de activación</label>
                                <input type="text" readonly class="form-control" name="codigo" id="txtcod" placeholder="Código de activación">
                            </div>
                            <button type="submit" class="btn btn-primary">Activar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Más tarde</button>
                        </form>  
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-7">
                        <h4 class="centrado">Acerca de la tarjeta</h4>
                        <div  style="padding-left:40px;padding-right:40px;padding-bottom:6px">
                            <img width="100%" id="img_trj" id="img-tarj" alt="">
                        </div>                      
                        <p class="centrado">Válido desde: <i id="valido-d"></i></p>
                        <p class="centrado">Válido hasta: <i id="valido-h"></i></p>
                        <p class="centrado">Válido en: </p>
                        <div id="locales">
                            
                        </div>
                    </div>
                </div>           
            </div>
        </div>
    </div>
</div>