<script src="../modular/codigo/admin.js"></script>
<script>
    window.addEventListener('load',opciones)
</script>
<ul class="fondo-nav nav nav-tabs hidden-sm hidden-xs">
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vendedor</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/ingresar-vendedor">A単adir</a>
            <a class="dropdown-item" href="/admin/modificar-vendedor">Modificar o eliminar</a>
            <a class="dropdown-item" href="/admin/asignar-vendedor">Asignar tarjetas</a>
        </div>
    </li>
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Local</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/ingresar-local">A単adir</a>
            <a class="dropdown-item" href="/admin/modificar-local">Modificar o eliminar</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tarjeta</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/reg-tarj">A単adir</a>
            <a class="dropdown-item" href="/admin/mod-tarj">Modificar o eliminar</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/eliminar-usuario">Eliminar usuario</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/reporte-vendedor">Por vendedor</a>
            <a class="dropdown-item" href="/admin/reporte-usuario">Por usuario</a>
            <a class="dropdown-item" href="/admin/reporte-local">Por local</a>
            <a class="dropdown-item" href="/admin/reporte-tarjeta">Por tarjeta</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/slider">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users/password">Cambiar contrase単a</a>
    </li>
</ul>
<div id="opciones"></div>
<br>

<div class="alert alert-primary margen-row" role="alert">
    <h3 class="centrado ">Reporte por  local</h3>
</div>

<link rel="stylesheet" href="../modular/estilos/admin.css">

 