<ul class="nav nav-tabs  fondo-nav">
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vendedor</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-vendedor/ingresar-vendedor">Añadir</a>
            <a class="dropdown-item" href="/admin-vendedor/modificar-vendedor">Modificar o eliminar</a>
            <a class="dropdown-item" href="/admin-vendedor/asignar-vendedor">Asignar tarjetas</a>
        </div>
    </li>
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Local</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-local/ingresar-local">Añadir</a>
            <a class="dropdown-item" href="/admin-local/modificar-local">Modificar o eliminar</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tarjeta</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-tarjetas/reg-tarj">Añadir</a>
            <a class="dropdown-item" href="/admin-tarjetas/mod-tarj">Modificar o eliminar</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Usuarios</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-cliente/eliminar-usuario">Clientes</a>
            <a class="dropdown-item" href="/admin-cliente/vendedores">Vendedores</a>
        </div>
    </li>
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-reportes/reporte-vendedor">Por vendedor</a>
            <a class="dropdown-item" href="/admin-reportes/reporte-referido">Por referido</a>
            <a class="dropdown-item" href="/admin-reportes/reporte-local">Por local</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin-home/slider">Home</a>
    </li>
</ul>

<div class="row">
    <div class="col-lg-12">

        <div class="contenedor-bordes">
            <div id="central-mensajes">
                {{#if success_msg}}
                <div class="centrado blanco mensaje-bien-sistema animated flash">
                    <h3>{{success_msg}}</h3>
                </div>
                {{/if}} {{#if error}}
                <div class="centrado blanco mensaje-error-sistema animated flash">
                    <h3>{{error}}</h3>
                </div>
                {{/if}}
                <div class="centrado blanco mensaje-bien-sistema" id="div-correcto" style="display:none; font-size:140%">

                </div>
                <div class="centrado blanco mensaje-error-sistema" id="div-error" style="display:none;font-size:140%"></div>
            </div>
            <h3 class="centrado blanco">Reporte por vendedor</h3>
            <div class="form-group margen-row">
                <label for="" class="blanco">Seleccione Vendedor</label>
                <div class="input-group">
                    <select name="" id="todos_vendedores" class="form-control">
                        <option value="Todos">Todos</option>
                        {{#if vendedores}} {{#each vendedores}}
                        <option value="{{this.nombre}}">{{this.nombre}}</option>
                        {{/each}} {{/if}}
                    </select>
                    <span class="input-group-addon btn btn-primary hidden-xs" id="basic-addon1" onclick="generar_reporte_vendedor()">Consultar</span>
                    <span class="input-group-addon btn btn-success hidden-xs" id="basic-addon1" onclick="exportar('datos_reporte')">Exportar a excel</span>
                    <span class="input-group-addon btn btn-warning hidden-xs" id="basic-addon1" onclick="imprimir('vista_impresion')">Imrpimir</span>
                    <button type="button" class="btn btn-primary hidden-lg hidden-md hidden-sm" aria-label="Buscar" onclick="generar_reporte_referido()">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-success hidden-lg hidden-md hidden-sm" aria-label="Buscar" onclick="exportar('datos_reporte')">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-warning hidden-lg hidden-md hidden-sm" aria-label="Buscar" onclick="imprimir('vista_impresion')">
                        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="table-responsive" style="background-color:white">
                <div id="vista_impresion">
                    <table class="table" id="datos_reporte">

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../modular/codigo/admin.js"></script>