<div class="row">
    <div class="col-lg-3 col-md-3"></div>
    <div class="col-lg-6 col-md-6">
        <div class="centrado contenedor-bordes blanco" style="background-color:rgba(000,000,000,0.9)">
            <h1 style="font-size: 450%;">Ecuador Activa</h1>
            <img src="../general/imagenes/logotipo.png" style="margin:0 auto" width="50%" alt=""><br>
            <a href="http://www.fb.com/RepublicaDeElSalvadorActiva"><i style="color:#3b5998" class="zmdi zmdi-facebook-box zmdi-hc-3x"></i></a><i class="zmdi"></i>
            <a href="https://www.instagram.com/republicadelsalvadoractiva/"><i style="color:#8a3ab9" class="zmdi zmdi-instagram zmdi-hc-3x"></i></a>
            <br>
            <h3>Teléfono</h3>
            <a href="tel://0998546758" style="font-size: 150%;color:white" >0998546758</a>
            <h3>Email</h3>
            <a href="mailto:ecuadoractiva@gmail.com" style="font-size: 150%;color:white" >ecuadoractiva@gmail.com</a>
        </div>
    </div>
</div>