<div class="row">
    <div class="col-lg-2 col-md-2"></div>
    <div class="col-lg-8 col-md-8">
        <div class="centrado contenedor-bordes blanco" style="background-color:rgba(000,000,000,0.9)">
            <h1 style="font-size: 450%;">Ecuador Activa</h1>
            <img src="../general/imagenes/logotipo.png" style="margin:0 auto" width="50%" alt=""><br>
            <ul style="font-size: 180%;">
                <li>
                    Somos una empresa ecuatoriana dedicada a promover sectores comerciales de alto nivel.
                </li>
                <li>
                    Creadores del primer movimiento de membresías Premium.
                </li>
                <li>
                    Fundadores del primer sistema online encargado de brindar retroalimentación por marca y usuarios en tiempo real. 
                </li>
            </ul>
            <h1>¿Que ofrecemos?</h1>
            <p style="font-size: 180%;">Ofrecemos tarjetas de membresía con 
            beneficios exclusivos de marcas 
            destacadas en diferentes ámbitos como:Restaurantes – Hoteles- Cafeterías-
            Boutiques- firmas de abogados, entre 
            otros, (…)</p>
        </div>
        
    </div>
</div>
<br>