<br>
<script src="../modular/codigo/cliente.js"></script>
<div class="fondo-blanco">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a id="link-indiv" class="nav-link" href="/cliente/perfil">Perfil</a>
                </li>
                <li class="nav-item">
                    <a id="link-grup" class="nav-link active" href="/cliente/comprado">Activar tarjeta</a>
                </li>
                <li class="nav-item">
                    <a id="link-grup" class="nav-link" href="/users/password">Cambiar contraseña</a>
                </li>
            </ul>
        </div>
        <div>
            <div class="alert alert-danger" id="control_error" style="display:none"></div>
        </div>
        <div class="card-body">
            <div class="row comprado">
                <div class="col-lg-3 col-md-2 "></div>
                <div class="col-lg-6 col-md-8 ">
                    {{#if success_msg}}
                    <div class="alert alert-success">{{success_msg}}</div>{{/if}}
                    <div id="centralMensajes">
                        <div class="alert alert-success" id="div-correcto" style="display:none"></div>
                        <div class="alert alert-danger" id="div-error" style="display:none"></div>
                    </div>
                    <h2 class="centrado">Activación de tarjeta</h2>
                    <br>
                    <form class="form-signin" method="post" onsubmit="activar_tarjeta(event)">
                        <div class="form-group">
                            <label for="">Número</label>
                            <input step="1" onkeypress="return solonumeros(event)" id="txt_numero" type="number" class="form-control" min="0" required value="1">
                        </div>
                        <div class="form-group">
                            <label for="">Código de activación
                                <span style="color:blue"> (Código enviado a su email al realizar la compra) </span>
                            </label>
                            <input minlength="16" maxlength="16" id="txt_codigo" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Activar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal_tarjeta" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Activar la tarjeta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1 class="centrado">Tarjeta Número: <b id="num_trj"></b></h1>
               <div id="detalles_beneficios" style="max-height:400px; overflow-y: scroll;">
                   
                </div>  
                 <div class="modal-footer">
                     <button class="btn btn-dark" onclick="finalizar_activacion()">Activar</button>      
                <button class="btn btn-info">Cancelar</button>   
                 </div>
                  
            </div>
        </div>
    </div>
</div>