<div class="row" style="padding-top:20px">
    <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1" style="position:relative;">
      <div style="margin-bottom:20px">
          <div id="div_sociales" class="calibri ">
               <span>
                <a href="" style="color:black" id="tarjeta_face">
                    <i class="zmdi zmdi-facebook-box  zmdi-hc-2x"></i>
                </a>
            </span>
            <span>
                <a href="" style="color:black" id="instagram_face">
                    <i class="zmdi zmdi-instagram  zmdi-hc-2x"></i>
                </a>
            </span>
          </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
        <div class="centrado " style="background-color:#131313">
            {{#if imagenes}}
            <div id="corousel-ben" class="carousel slide " data-ride="carousel">
                <div class="carousel-inner" style="padding-left:25%; padding-right:25%">
                    {{#each imagenes}}
                    <div class="carousel-item carro_img" style="padding-left:2%; padding-right:2%">
                        <img class="img-slider d-block w-100" src="{{this.imagen}}" alt="{{this.codigo}}">
                    </div>
                    {{/each}}
                </div>
                <a class="carousel-control-prev" style="background-color:rgba(000, 000, 000, 0.01)" href="#corousel-ben" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" style="background-color:rgba(000, 000, 000, 0.01)" href="#corousel-ben" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            {{/if}}
        </div>
        <div id="nada" class="cordia">
            <h1 class="centrado "><b>No hay nada que mostrar</b></h1>
            <h3 class="centrado ">Seleccione una tarjeta que usted haya adquirido</h3>
        </div>

        <div class="row" id="todos_locales" style="margin-top:12px;max-height:300px;overflow-y: scroll;margin-bottom:30px">

        </div>
    </div>
</div>

<script>
    window.addEventListener('load', () => {
        control_slider_beneficios()
    })
</script>
<script src="../modular/codigo/cliente.js"></script>



<div class="modal fade bd-example-modal-lg cordia" id="local-info" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content  bordes-blanco " style="background-color:rgba(000,000,000,0.9);">
            <div class="modal-header">
                <h5 class="modal-title blanco" id="nom_loc"></h5>
                <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="blanco">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-bottom:12px;padding-left:10%">
                    <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs" style="border-right:1px solid white; padding-left:4px">
                        <img src="" width="100%" alt="" id="img_local">
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 blanco">
                        <h3 for="">Horario:
                            <b id="horario_loc"></b>
                        </h3>
                        <h3 for="">Dirección:
                            <b id="dir_loc"></b>
                        </h3>
                        <h3 for="">Teléfono:
                            <b id="tel_loc"></b>
                        </h3>
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <span style="padding:1px" title="Instagram">
                                    <a id="inst_local" target="_blank">
                                        <i class="zmdi zmdi-instagram blanco zmdi-hc-2x"></i>
                                    </a>
                                </span>
                                <span style="padding:1px" title="Facebook">
                                    <a id="face_local"  target="_blank">
                                        <i class="zmdi zmdi-facebook-box blanco zmdi-hc-2x"></i>
                                    </a>
                                </span>
                                <span style="padding:1px" title="Teléfono">
                                    <a id="tel_local"  target="_blank">
                                        <i class="zmdi zmdi-phone-in-talk blanco zmdi-hc-2x"></i>
                                    </a>
                                </span>
                                <span style="padding:1px" title="Email">
                                    <a id="mail_local"  target="_blank">
                                        <i class="zmdi zmdi-email  blanco zmdi-hc-2x"></i>
                                    </a>
                                </span>
                                <span style="padding:1px" title="Website">
                                    <a id="web_local"  target="_blank">
                                        <i class="zmdi zmdi-globe  blanco zmdi-hc-2x"></i>
                                    </a>
                                </span>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <button class="btn btn-primary btn-block" onclick="javascript:$('#local-info').modal('hide');$('#mapa-info').modal()">
                                    <h5>Abrir ubicación</h5>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="carrusel_beneficios" class="carousel slide" style="background-color:white">
                    <div class="carousel-inner" id="elementos-carrusel">

                    </div>
                    <a class="carousel-control-prev" href="#carrusel_beneficios" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-triangle-left" style="color:black" aria-hidden="true"></span>
                        <span class="sr-only" >Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carrusel_beneficios" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-triangle-right" style="color:black" aria-hidden="true"></span>
                        <span class="sr-only" >Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.addEventListener('load', () => {
        document.getElementById('tit_general').style.display = 'none'
        document.getElementById('cabecera_cliente').style.display = 'block'
        document.getElementById('redes_sociales').style.display = 'none'
        document.getElementById('contendedor-general').style.backgroundColor = 'rgba(255,255,255,0.6)'
        //innerTexto('vald', ordenarFechas(obtenerTexto('fecha_inic')))
        //innerTexto('valh', ordenarFechas(obtenerTexto('fecha_fin')))

    })
</script>


<div class="modal fade bd-example-modal-lg cordia" id="mapa-info" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content  bordes-blanco" style="background-color:rgba(000,000,000,0.9);">
            <div class="modal-header">
                <h5 class="modal-title blanco">Ubicación geográfica</h5>
                <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="blanco">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe src="" width="100%" height="500px" frameborder="0" id="mapa_loc" style="border:0" allowfullscreen>

                </iframe>
            </div>
        </div>
    </div>
</div>