<br>
<div class="fondo-blanco">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                    <a id="link-indiv" class="nav-link active" href="/cliente/perfil">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a id="link-grup" class="nav-link" href="/cliente/comprado">Activar tarjeta</a>
                    </li>
                    <li class="nav-item">
                        <a id="link-grup" class="nav-link" href="/users/password">Cambiar contraseña</a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="alert alert-danger" id="control_error" style="display:none"></div>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>