<ul class="fondo-nav nav nav-tabs">
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vendedor</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/ingresar-vendedor">Añadir</a>
            <a class="dropdown-item" href="/admin/modificar-vendedor">Modificar o eliminar</a>
            <a class="dropdown-item" href="/admin/asignar-vendedor">Asignar tarjetas</a>
        </div>
    </li>
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Local</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/ingresar-local">Añadir</a>
            <a class="dropdown-item" href="/admin/modificar-local">Modificar o eliminar</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tarjeta</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/reg-tarj">Añadir</a>
            <a class="dropdown-item" onclick="cargando()" href="/admin/mod-tarj">Modificar o eliminar</a>
        </div>
    </li>
    <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Usuarios</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/eliminar-usuario">Clientes</a>
            <a class="dropdown-item" href="/admin/vendedores">Vendedores</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/reporte-vendedor">Por vendedor</a>
            <a class="dropdown-item" href="/admin/reporte-usuario">Por usuario</a>
            <a class="dropdown-item" href="/admin/reporte-local">Por local</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/slider">Home</a>
    </li>
</ul>

<div class="row margen">
    <div class="col-lg-1 col-md-1"></div>
    <div class="col-lg-10 col-md-10">
        <div class="contenedor-bordes blanco">
            <div id="central-mensajes">
                {{#if success_msg}}
                <div class="centrado blanco mensaje-bien-sistema animated flash">
                    <h3>{{success_msg}}</h3>
                </div>
                {{/if}} {{#if error}}
                <div class="centrado blanco mensaje-error-sistema animated flash">
                    <h3>{{error}}</h3>
                </div>
                {{/if}}
                <div class="centrado blanco mensaje-bien-sistema" id="div-correcto" style="display:none; font-size:140%">

                </div>
                <div class="centrado blanco mensaje-error-sistema" id="div-error" style="display:none;font-size:140%"></div>
            </div>
            <h2 class="centrado">Ingresar local</h2>
            <form action="/admin/ingresar-local" method="post" enctype="multipart/form-data">
                <div class="row margen-row " style="margin-bottom:12px">
                    <div class="col-lg-3 col-sm-6">
                        <h4 class="centrado">Logotipo</h4>
                        <div id="poder" style="border: solid white 1px">
                            <img src="../modular/imagenes/local.png" class="img-responsive" id="img_destino">
                        </div>
                        <div class="form-group">
                            <div class="div_file btn btn-primary ">
                                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                500 X 500
                                <input type="file" class="btn_enviar" id="file_url" accept="image/*" name="logotipo" onchange="alertaOferta(this,this.files[0].size)"
                                    required/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h4 class="centrado">Beneficios</h4>
                        <div class="form-group">
                            <div class="div_file btn btn-primary ">
                                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                Selección múltiple
                                <input type="file" class="btn_enviar" multiple id="file_url1" accept=".jpg,.png," name="beneficios" onchange="alertaOferta1(this)"
                                    required/>
                            </div>
                            <div id="beneficios_desc" style="margin-top:4px">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3  col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="zmdi zmdi-font"></i>
                                </span>
                                <input type="text" name="nombre" class="form-control" placeholder="Nombre del local" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="zmdi zmdi-facebook"></i>
                                </span>
                                <input type="url" title="Ingrese http://" name="linkface" class="form-control" placeholder="Link de facebook" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="zmdi zmdi-instagram"></i>
                                </span>
                                <input type="url" title="Ingrese http://" name="linkInst" class="form-control" placeholder="Link de instagram" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="zmdi zmdi-google-maps"></i>
                                </span>
                                <input type="text" placeholder="Dirección" name="direccion" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="zmdi zmdi-whatsapp"></i>
                                </span>
                                <input type="tel" placeholder="Teléfono" name="telefono" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group" title="Ingrese http://">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="zmdi zmdi-globe"></i>
                                </span>
                                <input title="Ingrese http://" type="url" placeholder="Sitio web" name="website" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="zmdi zmdi-gps-dot"></i>
                                </span>
                                <input type="url" placeholder="Mapa de google" title="Ingrese http://" name="mapa" class="form-control"> 
                            </div>
                            <a href="/modular/imagenes/mapa.pdf">Instrucciones del mapa</a>
                        </div>
                    </div>
                    <div class="col-lg-3  col-sm-6">
                        <div class="form-group" title="Horario">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="zmdi zmdi-lock-open"></i>
                                </span>
                                <input type="text" placeholder="Horario" name="horario" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="zmdi zmdi-email"></i>
                                </span>
                                <input type="email" class="form-control" required name="username" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="zmdi zmdi-shield-security"></i>
                                </span>
                                <input type="password" minlength="8" name="password" class="form-control" placeholder="Contraseña" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="zmdi zmdi-shield-security"></i>
                                </span>
                                <input type="password" minlength="8" name="rpassword" class="form-control" placeholder=" Repetir contraseña" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-warning" style="width:100%">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Aceptar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="../modular/codigo/admin.js"></script>