
<script>
    (function(){
        swal('Advertencia','El panel de administración de la página web será desactivado el día 26 de febrero del 2018 a las 23:59 por falta de pago, favor de pagar los $130,00 faltantes y enviar el comprobante de depósito. LAMENTAMOS LOS INCONVENIENTES' ,'warning')
    })()
</script>
<ul class="nav nav-tabs  fondo-nav">
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vendedor</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-vendedor/ingresar-vendedor">Añadir</a>
            <a class="dropdown-item"  href="/admin-vendedor/modificar-vendedor">Modificar o eliminar</a>
            <a class="dropdown-item" href="/admin-vendedor/asignar-vendedor">Asignar tarjetas</a>
        </div>
    </li>
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Local</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-local/ingresar-local">Añadir</a>
            <a class="dropdown-item" href="/admin-local/modificar-local">Modificar o eliminar</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tarjeta</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-tarjetas/reg-tarj">Añadir</a>
            <a class="dropdown-item"  href="/admin-tarjetas/mod-tarj">Modificar o eliminar</a>
        </div>
    </li>
    <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Usuarios</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-cliente/eliminar-usuario">Clientes</a>
            <a class="dropdown-item" href="/admin-cliente/vendedores">Vendedores</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-reportes/reporte-vendedor">Por vendedor</a>
            <a class="dropdown-item" href="/admin-reportes/reporte-referido">Por referido</a>
            <a class="dropdown-item" href="/admin-reportes/reporte-local">Por local</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin-home/slider">Home</a>
    </li>
</ul>


<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-1 "></div>
    <div class="col-lg-8 col-md-8 col-sm-10 ">
        <div class="centrado contenedor-bordes blanco">
            <div class="centrado" style="margin:0 auto">
                <p>Bienvenido</p>
                <h1>Administrador</h1>
                <br>
                <h4>En este panel encontrará todas las herramientas necesarias para sus actividades comerciales</h4><br><br>
                <h5 class="calibri">Activación manual de tarjetas</h5>
                <form action="" onsubmit="activar_manual(event)" method="post">
                    <label for="">Número de tarjeta</label>
                    <input type="number" class="form-control" id="num_activacion" required><br>
                    <button type="submit" class="btn btn-warning nwarning">Activar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function activar_manual(event){
        event.preventDefault()
        cargando('Analizando tarjeta')
        envio={numero:valor('num_activacion')}
        $.ajax({
            method: "POST",
            url: "/admin-tarjetas/trj_vend",
            data: envio
        }).done(( datos )=>{
            no_cargando()
            if(datos=='activo')
                swal('Listo', 'Tarjeta activada manualmente', 'success')
            if(datos=='no vendida')
                swal('Error', 'No puede activarse una tarjeta que no haya sido vendida', 'error')
            if(datos=='no existe')
                swal('Error', 'No puede activarse una tarjeta que no existe', 'error')          
        })
    }
</script>