<ul class="fondo-nav nav nav-tabs ">
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vendedor</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-vendedor/ingresar-vendedor">Añadir</a>
            <a class="dropdown-item" href="/admin-vendedor/modificar-vendedor">Modificar o eliminar</a>
            <a class="dropdown-item" href="/admin-vendedor/asignar-vendedor">Asignar tarjetas</a>
        </div>
    </li>
    <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Local</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-local/ingresar-local">Añadir</a>
            <a class="dropdown-item" href="/admin-local/modificar-local">Modificar o eliminar</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tarjeta</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-tarjetas/reg-tarj">Añadir</a>
            <a class="dropdown-item" href="/admin-tarjetas/mod-tarj">Modificar o eliminar</a>
            <a class="dropdown-item" href="/admin-tarjetas/regalar">Regalar tarjetas</a>
        </div>
    </li>
    <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Usuarios</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-cliente/eliminar-usuario">Clientes</a>
            <a class="dropdown-item" href="/admin-cliente/vendedores">Vendedores</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin-reportes/reporte-vendedor">Por vendedor</a>
            <a class="dropdown-item" href="/admin-reportes/reporte-referido">Por referido</a>
            <a class="dropdown-item" href="/admin-reportes/reporte-local">Por local</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin-home/slider">Home</a>
    </li>
</ul>

<div class="row margen">
    <div class="col-lg-2 col-md-2 col-sm-1"></div>
    <div class="col-lg-8 col-md-8 col-sm-10">
        <div class="contenedor-bordes blanco">
            <div id="central-mensajes">
                {{#if success_msg}}
                <div class="centrado blanco mensaje-bien-sistema animated flash">
                    <h3>{{success_msg}}</h3>
                </div>
                {{/if}} {{#if error}}
                <div class="centrado blanco mensaje-error-sistema animated flash">
                    <h3>{{error}}</h3>
                </div>
                {{/if}}
                <div class="centrado blanco mensaje-bien-sistema" id="div-correcto" style="display:none; font-size:140%">

                </div>
                <div class="centrado blanco mensaje-error-sistema" id="div-error" style="display:none;font-size:140%"></div>
            </div>
            <h3 class="centrado ">Asignar tarjetas a vendedor</h3>
            <form  id="form_asignacion" action="/admin-vendedor/asignar-vendedor" method="post" onsubmit="comprobar_validez(event)">
                <div class="form-group row ">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <label for="">Fecha y hora</label>
                        <input type="datetime-local" name="fecha" id="fechayhora" autocomplete="" class="form-control" readonly>
                        <div class="form-group">
                            <br>
                            <label for="">Desde la tarjeta número:</label>
                            <input type="number" id="tarj_ini" class="form-control" name="tarjeta_ini" min="1" step="1" value="1">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <label for="">Vendedor</label>
                        <select name="vendedor" id="todos_vendedores" class="form-control" id="">
                            {{#if vendedor}} {{#each vendedor}}
                            <option value="{{this.codigo}}">{{this.nombre}}</option>
                            {{/each}} {{/if}}
                        </select>
                        <div class="form-group">
                            <br>
                            <label for="">Hasta la tarjeta número:</label>
                            <input type="number" id="tarje_fin" class="form-control" name="tarjeta_fin" min="1" step="1" value="1">
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-warning">Hacer entrega</button>        
                <a href="/admin-tarjetas/ver-asignaciones"><button type="button" class="btn btn-primary" >Ver asignaciones</button></a>
                <button type="button" onclick="$('#reseteo-tarjeta').modal()" class="btn btn-light nlight" >Resetear tarjeta</button></a>
            </form>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', () => {
        fecha = new Date();
        dia = fecha.getDate();
        if (dia < 10)
            dia = '0' + dia
        mes = fecha.getMonth() + 1
        if (mes < 10)
            mes = '0' + mes
        hora = fecha.getHours()
        if (hora < 10)
            hora = '0' + hora
        minuto = fecha.getMinutes()
        if (minuto < 10)
            minuto = '0' + minuto
        asignar('fechayhora', fecha.getFullYear() + '-' + mes + '-' + dia + 'T' + hora + ':' + minuto)
        opciones()
    })
</script>
<script src="../modular/codigo/admin.js"></script>
<div class="modal fade" id="reseteo-tarjeta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog calibri" role="document">
    <div class="modal-content" style="background-color:rgba(000,000,000,0.9)">
      <div class="modal-body">
        <h5 class="modal-title blanco centrado" id="exampleModalLabel">RESETEO DE TARJETAS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <form action="" method="post" onsubmit="resetar_tarjeta(event)">
            <input type="number" id="numero_tarjeta_resetear" class="form-control" required min="0"><br>
            <button type="submit" class="btn btn-warning nwarning">Resetear</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
    function resetar_tarjeta(event){
        event.preventDefault()
        envio={numero:valor('numero_tarjeta_resetear')}
        cargando('Comprobando información')
        $.ajax({
            type: "POST",
            url: "/admin-vendedor/resetear",
            contentType: "application/json",
            data: JSON.stringify(envio)
        }).done((resp) => {
            if(resp=='Error'){
                no_cargando()
                swal('Error', 'No se ha podido resetear', 'error')
            }else{
                no_cargando()
                swal('Listo', 'Tarjeta reseteada con éxito, si los cambios aun no se muestran solo recargue la página', 'success')
            }
        })
    }
</script>