<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-1"></div>
    <div class="col-lg-8 col-md-8 col-sm-10">
        <div class="centrado contenedor-bordes ">
            <!--Slider-->
            <div style="padding-top:12px;">
                <div style="background-color:white; margin:22px">
                    <div id="carrusel_beneficios" class="carousel slide" data-interval="false">
                        <div class="carousel-inner" id="elementos-carrusel">
                        </div>
                        <a class="carousel-control-prev" href="#carrusel_beneficios" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" style="background-color:black" aria-hidden="true"></span>
                            <span class="sr-only" style="background-color:black">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carrusel_beneficios" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" style="background-color:black" aria-hidden="true"></span>
                            <span class="sr-only" style="background-color:black">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <!--Fin slider-->
            <form class="form-signin"  method="post" onsubmit="activar_desc(event)">
            <div class="form-group centrado" style="margin-left:20%; margin-right:20%; padding-top:4px">
                
                <input type="text" id="numero_act" placeholder="Ingrese número de tarjeta" class="form-control" required>
                <button class="btn btn-warning" style="margin-top:4px; margin-bottom:14px">Aplicar beneficio</button>
            </div>
            </form>
        </div>
    </div>
</div>
<script src="../modular/codigo/local.js"></script>
<script>
    window.addEventListener('load', () => {
        var envio = {codigo:obtenerTexto('codigo-usuario')}
        $.ajax({
            type: "POST",
            url: "/admin/beneficios_por_local",
            contentType: "application/json",
            data: JSON.stringify(envio)
        }).done(function (elementos) { 
            var activo='active'
            var cadena=''
            
            for(var i=0; i< elementos[0].beneficio.length; i++){
                if(i!=0)
                    activo=''
                cadena+=mostrar_beneficios(activo,elementos[0].beneficio[i])
            }
            innerTexto('elementos-carrusel', cadena)
            
        })
    })
</script>