<div class="comprado">
    <ul class=" fondo-nav nav nav-tabs ">
        <li class="nav-item">
            <a class="nav-link active" href="/vendedor/">Vender tarjetas</a>
        </li>
        <li class="nav-item">
            <a href="/vendedor/ventas" class="nav-link">Reporte de ventas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/password">Cambiar contraseña</a>
        </li>
    </ul>
</div><br>
<div class="comprado margen-row">
    <div class="alert alert-primary" role="alert">
        <h2 class="centrado">Reporte de venta de tarjetas</h2>
    </div>
    <br>
    <div class="fondo-blanco">
        <div class="table">
            <table class="table">
                <tr>
                    <th>Tarjeta número</th>
                    <th>Fecha de venta</th>
                    <th>Hora de venta</th>
                    <th>Vendido a</th>
                </tr>
                {{#if vendidos}}
                    {{#each vendidos}}
                        <tr>
                            <td>{{this.numero}}</td>
                            <td class="fecha-venta">{{this.fechaventa}}</td>
                            <td class="Hora-venta">{{this.fechaventa}}</td>
                            <td>{{this.cliente}}</td>
                        </tr>
                    {{/each}}
                {{/if}}
            </table>
        </div>
    </div>
</div>
<script src="../modular/codigo/vendedor.js"></script>
<script>
    window.addEventListener('load',()=>{
        var fechas=document.getElementsByClassName('fecha-venta')
        var horas=document.getElementsByClassName('Hora-venta')
        for(var i=0; i<fechas.length;i++){
            fecha_arreglada=new Date(fechas[i].innerText)
            fechas[i].innerText=fecha_arreglada.getDate()+'-'+ (fecha_arreglada.getMonth()+1)+'-'+fecha_arreglada.getFullYear()
        }
        for(var i=0; i<horas.length;i++){
            fecha_arreglada=new Date(horas[i].innerText)
            horas[i].innerText=fecha_arreglada.getHours()+':'+fecha_arreglada.getMinutes()
        }
    })
</script>