<link rel="stylesheet" href="../modular/estilos/login.css">
<div class="row">
    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10 margen">
        <div class="fondo-blanco borde-redondo">
            <h2 class="centrado "><b>Recuperación de la cuenta</b></h2>
            <div id="centralMensajes">
                <div class="alert alert-success" id="div-correcto" style="display:none"></div>
                <div class="alert alert-danger" id="div-error" style="display:none"></div>
            </div>
            <img class="profile-img" src="../modular/imagenes/login.png"  alt="">
            <p class="centrado">Se enviará un token de recuperación a su email</p>
            <form class="form-signin" action="/users/olvido" method="post" onsubmit="olvido(event)">
            <div class="form-group">
                <input type="email" id="usuario-mail" name="username" class="form-control" placeholder="Email" required autofocus>
            </div>
                <button type="submit" class="btn btn-primary btn-block">Confirmar</button>
                <a class="centrado btn-block" style="color:black" href="/users/recuperar">Tengo un token</a>
            </form>
        </div>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
</div>
<script src="../modular/codigo/users.js"></script>