<link rel="stylesheet" href="../modular/estilos/comprado.css">
<div class="comprado">

    <div class="row comprado">
        <div class="col-lg-4 col-md-2 col-sm-2 col-xs-4"></div>
        <div class="col-lg-4 col-md-8 col-sm-8 col-xs-4">
            <link rel="stylesheet" href="../modular/estilos/login.css">
            <div class="fondo-blanco">
                <h2 class="centrado ">
                    <b>Cambiar contraseña</b>
                </h2>
                <img class="profile-img" src="../modular/imagenes/login.png" alt="">
                <div id="centralMensajes">
                    {{#if success_msg}}
                    <div class="alert alert-success">{{success_msg}}</div>{{/if}} {{#if error_msg}}
                    <div class="alert alert-danger">{{error_msg}}</div>{{/if}} {{#if error}}
                    <div class="alert alert-danger">{{error}}</div>{{/if}}
                </div>
                <form action="/users/cambiar" method="post">
                    <div class="form-group">
                        <label for="">Usuario</label>
                        <input type="email" class="form-control" readonly value="{{user.username}}">
                    </div>
                    <div class="form-group">
                        <label for="">Contraseña actual</label>
                        <input  type="password" minlength="8"  name="password" placeholder="Contraseña actual" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="">Nueva contraseña</label>
                        <input  type="password" minlength="8" name="Npassword" placeholder="Nueva contraseña" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="">Repetir nueva contraseña</label>
                        <input  type="password" minlength="8" name="RNpassword" placeholder="Repita nueva contraseña" class="form-control" required>
                    </div>
                     <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Actualizar contraseña</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>