<br>
<div class="fondo-blanco">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a id="link-indiv" class="nav-link " href="/cliente/perfil">Perfil</a>
                </li>
                <li class="nav-item">
                    <a id="link-grup" class="nav-link" href="/cliente/comprado">Activar tarjeta</a>
                </li>
                <li class="nav-item">
                    <a id="link-grup" class="nav-link active" href="/users/password">Cambiar contraseña</a>
                </li>
            </ul>
        </div>
        <div>
            <div class="alert alert-danger" id="control_error" style="display:none"></div>
        </div>
        <div class="card-body">
            <link rel="stylesheet" href="../modular/estilos/login.css">
            <div class="row">
                <div class="col-lg-4 col-md-4"></div>
                <div class="col-lg-4 col-md-4">
                    <div >
                <h2 class="centrado ">
                    <b>Cambiar contraseña</b>
                </h2>
                <img class="profile-img" src="../modular/imagenes/login.png" alt="">
                <div id="centralMensajes">
                    {{#if success_msg}}
                    <div class="alert alert-success">{{success_msg}}</div>{{/if}} {{#if error_msg}}
                    <div class="alert alert-danger">{{error_msg}}</div>{{/if}} {{#if error}}
                    <div class="alert alert-danger">{{error}}</div>{{/if}}
                </div>
                <form action="/users/cambiar" method="post">
                    <div class="form-group">
                        <label for="">Usuario</label>
                        <input type="email" class="form-control" readonly value="{{user.username}}">
                    </div>
                    <div class="form-group">
                        <label for="">Contraseña actual</label>
                        <input type="password" minlength="8" name="password" placeholder="Contraseña actual" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="">Nueva contraseña</label>
                        <input type="password" minlength="8" name="Npassword" placeholder="Nueva contraseña" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="">Repetir nueva contraseña</label>
                        <input type="password" minlength="8" name="RNpassword" placeholder="Repita nueva contraseña" class="form-control" required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Actualizar contraseña</button>
                    </div>
                </form>
            </div>
                </div>
            </div>
            
        </div>
    </div>
</div>