  <link rel="stylesheet" href="../modular/estilos/home.css">
  <video id="video" autobuffer loop autoplay preload muted>
    <source src="../general/fondo.mp4" type='video/mp4; codecs="avc1,mp4a"' />
    <source src="../general/fondo.mp4" type='video/ogg; codecs="theora,vorbis"' />
    <source src="../general/fondo.mp4" type='video/webm; codecs="vp8,vorbis"' />
  </video>
<link rel="stylesheet" href="../modular/estilos/login.css">
<div class="row">
    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-10 margen">
        <div class="fondo-blanco borde-redondo">
            <h2 class="centrado "><b>Recuperación de la cuenta</b></h2>
            <div id="centralMensajes">
                <div class="alert alert-success" id="div-correcto" style="display:none"></div>
                <div class="alert alert-danger" id="div-error" style="display:none"></div>
            </div>
            <img class="profile-img" src="../modular/imagenes/login.png"  alt="">
            <form class="form-signin" action="/users/recuperar" method="post">
                <div class="form-group">
                    <input type="email" name="username" class="form-control" placeholder="Email" required autofocus>
                </div>
                <div class="form-group">
                    <input type="text" maxlength="16" minlength="16" name="token" class="form-control" placeholder="Token" required>
                </div>
                <div class="form-group">
                    <input  type="password"  minlength="8"  name="password" placeholder="Nueva contraseña" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="password" minlength="8"  name="rpassword" placeholder="Repetir nueva contraseña" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Continuar</button>
            </form>
        </div>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
</div>
<script src="../modular/codigo/users.js"></script>