
html, body {
    height: 99%; 
    margin: 0; 
}

#contendedor-general{
    background-color:rgba(000, 000, 000, 0.65);
    font-family:'Bebas Neue';
    margin-bottom: -1px; 
    min-height:100%; 
    min-width:100%
}

.cordia{
    font-family:'Cordia New';
}
.calibri{
    font-family:'Calibri cuerpo';
}
body{
    min-width: 100%;
    overflow-x: hidden;
}
.titulo{
	-webkit-text-fill-color: white;
	-webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.75px;  
}
.centrado{
    text-align: center;
}
.blanco{
    color: white;
}

footer{
	min-height: 30px;
}
.footer-bs {
    background-color: #000000;
	padding: 5px 5px;
	color: rgba(255,255,255,1.00);

}
.slider{
	opacity: 0.85;
    filter: alpha(opacity=85);
}
.borde-redondo{
    -webkit-border-radius: 15px 15px;  /* Safari  */
    -moz-border-radius: 15px 15px;  
}
.fondo-blanco{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: solid rgba(187, 186, 186, 0.97);
    background-color: rgba(255, 255, 255, 0.78);
    padding: 15px;
}

.nav-negro .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}
  
.nav-negro .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
  .fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 10%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (min-width: 767px) {
    #bienvenida0{
        display: none;
    }
    #sel_trj0{
        display: block;
    }
    #bienvenida1{
        display: block;
    }
    #sel_trj1{
        display: none;
    }
    #espaciado{
        width:50%;
    }
}
@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('../imagenes/fondo.png') center center / cover no-repeat;
    }
    .centrado-sel{
        margin-top: 10px;
    }
    #espaciado{
        width:90%;
    }
    .fullscreen-bg__video {
        display: none;
    }

    #bienvenida0{
        display: block;
    }
    #sel_trj0{
        display: none;
    }
    #bienvenida1{
        display: none;
    }
    #sel_trj1{
        display: block;
    }
}
.contenedor-bordesI{
    margin-left:5%;
    margin-right:5%;
    margin-top:2%;
}
.contenedor-bordes{
    margin-left:5%;
    margin-right:5%;
    margin-top:2%;
    border:solid 1px;
    border-color:white; 
    padding:3%;
    background-color: rgba(000, 000, 000, 0.7);
}
.carousel-titulo {
    position: absolute;
    width: 100%;
    bottom: -1px; 
    z-index: 10;
    padding-top:10px;
    padding-bottom: 40px;
    text-align: center;
  }

.mensaje-error-sistema{
     
    background-color:rgba(180, 000, 000, 0.9);
    padding-top:20px; 
    margin-bottom:12px; 
    margin-top:12px;
    padding-bottom:12px
}
.mensaje-bien-sistema{
    
    background-color:rgba(39, 91, 233, 0.952);
    padding-top:20px; 
    padding-bottom:20px; 
    margin-bottom:12px; 
    margin-top:12px
}

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
   }
   @-webkit-keyframes flash {
    0%, 50%, 100% {
    opacity: 1;
    }
   25%, 75% {
    opacity: 0;
    }
   }
   @keyframes flash {
    0%, 50%, 100% {
    opacity: 1;
    }
   25%, 75% {
    opacity: 0;
    }
   }
   .flash {
    -webkit-animation-name: flash;
    animation-name: flash;
   }
/*
   .area_descriptiva{
    min-height: 80%;
    margin-bottom: 12px;
    resize: none;
    min-width: 100%;
    color: white;
    background-color: rgba(000, 000, 000, 0)
}
.area-beneficios{
    resize: none;
    min-width: 100%;
    text-align: justify;
    border: solid 1px rgba(000, 000, 000, 0);
    background-color: white;
    color: black
}
*/
.form-signin
{
    padding: 15px;
    margin: 0 auto;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.fondo-nav{
    background-color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.div_file{
	position:relative;
    margin-top: 10px;
	padding:10px;
	width:100%;
	-webkit-border-radius:5px;

}
.btn_enviar{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
	opacity: 0;
}
.bordes-blanco{
    border:solid 1px;border-color:white; padding:5px;
}

.nprimary{
    background-color:#0099FF;
}
.nwarning{
    background-color:#FFCC66;
}
.cod_vend{
    text-transform: capitalize;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  font-size: 110%;
  display: inline;
  margin-right: 12px;
}

